:root {
    --primary-color: #ffffff;
    --background-color: #000000;


    --color-1: #F8F8F8;
    --color-2: #FFFFFF;
    --color-3: #7367F0;
    --color-4: #82868B;
    --color-5: #28C76F;
    --color-6: #EA5455; 
    --color-7: #FF9F43;
    --color-8: #00CFE8;
    --color-9: #4B4B4B;
    --color-10: #1E1F21;

    --nav-brand-1: var(--color-10);
    --nav-brand-2: var(--color-3);
    --nav-brand-3: var(--color-4);
    --nav-brand-4: var(--color-5);
}

