/* collapsible section from slds */

.slds-card {
	border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.5rem;
}

.slds-card[c-collapsible_section_collapsible_section] {
	background-color: var(--background-color);
}

details[c-collapsible_section_collapsible_section] > summary[c-collapsible_section_collapsible_section] {
    padding: 4px;
    background-color: var(--background-color);
    outline: none;
}

[c-collapsible_section_collapsible_section] .slds-card{
    background-color: var(--background-color);
}