/* collapsible section from slds */

.slds-card {
	border: 1px solid rgba(34, 41, 47, 0.125);
    border-radius: 0.5rem;
}

.slds-card[c-collapsible_section_collapsible_section] {
	background-color: var(--background-color);
}

details[c-collapsible_section_collapsible_section] > summary[c-collapsible_section_collapsible_section] {
    padding: 4px;
    background-color: var(--background-color);
    outline: none;
}

[c-collapsible_section_collapsible_section] .slds-card{
    background-color: var(--background-color);
}

/* slide nav */

.slds-button--neutral, .slds-button_neutral {
    --slds-c-button-spacing-inline-start: none;
    --slds-c-button-spacing-inline-end: none;
    --slds-c-button-color-background: #00000000;
    --slds-c-button-color-border: #00000000;
    color: var(--white-color);
}

.slds-button:focus, .slds-button:hover {
    --slds-c-button-color-border: #00000000;
    --slds-c-button-color-background: #00000000;
    color: var(--white-color);
}

.slds-button--neutral:active, .slds-button_neutral:active {
    --slds-c-button-color-background-active: #00000000;
    --slds-c-button-color-border-active: #00000000;
    color: var(--white-color);
    background-color: var(--background-color);
}

.slds-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.slds-card {
    background: var(--background-color);
}